@font-face {
    font-family: "mayeka bold demo";
    font-display: swap;
    src: url("../fonts/Mayeka-Bold-Demo.otf") format("truetype");
}

@font-face {
    font-family: "avenir next condensed regular";
    font-display: swap;
    src: url("../fonts/AvenirNextCondensed-Regular-08.ttf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    color: #000;
}

a, a:hover {
    text-decoration: none;
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    font-family: 'mayeka bold demo', Helvetica, Arial, Lucida, sans-serif;
    padding-bottom: 10px;
    line-height: 1em;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.linkedin-icon {
    width: 32px;
}

.linkedin-icon img {
    border-radius: 3px;
}

.et_pb_section_0.et_pb_section {
    padding-top: 0;
    padding-bottom: 0;
}

.et_pb_row_0.et_pb_row {
    padding-top: 7%;
    padding-bottom: 0;
}

.et_pb_row {
    max-width: 1080px;
    margin: auto;
}

.et_pb_text_0 {
    padding: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    z-index: 0;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto
}

.et_pb_text_0 h1 {
    font-weight: 900;
    font-size: 50pt;
    text-align: left;
    padding-bottom: 10px;
}

.et_pb_text_1 {
    padding-left: 1% !important;
    margin-top: -6% !important
}

.et_pb_text_1 h2 {
    font-weight: 600;
    font-size: 24pt;
    letter-spacing: 10pt;
    line-height: 1.6em;
    padding-bottom: 10px;
}

body #page-container .et_pb_section .et_pb_button_0 {
    letter-spacing: 3pt;
    font-size: 20pt;
    font-family: 'avenir next condensed regular', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 500;
    border: 2px solid #000;
}

.et_pb_button_0 {
    padding: 0.3em 1em;
    line-height: 1.7em;
    display: inline-block;
}

.et_pb_button_0 {
    transition: all 300ms ease 0ms
}

.et_pb_button_0:hover {
    border: 2px solid #fff !important;
}

.et_pb_image img {
    max-width: 100%;
    height: auto;
}

.et_pb_column_0 {
    padding-top: 11.8%;
    padding-bottom: 11.8%;
    padding-left: 3%
}

.et_pb_social_media_follow li {
    margin-bottom: 8px;
}

.et_pb_column_1 {
    z-index: 1 !important;
}

.et_pb_module {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.et_pb_social_media_follow {
    list-style-type: none;
    margin: 0 0 22px;
    padding: 0;
}

.et_pb_column {
    float: left;
    z-index: 2;
    min-height: 1px;
}

@media only screen and (min-width: 1350px) {
    .et_pb_row {
        padding: 27px 0
    }

    .et_pb_section {
        padding: 54px 0
    }
}

@media only screen and (min-width: 981px) {
    .et_pb_gutters3 .et_pb_column_2_5 .et_pb_module {
        margin-bottom: 7.493%;
    }
    .et_pb_gutters3 .et_pb_column_3_5 {
        width: 57.8%;
    }

    .et_pb_row.et_pb_equal_columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        direction: ltr;
    }

    .et_pb_row.et_pb_equal_columns>.et_pb_column {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column:last-child {
        margin-right: 0!important;
    }

    .et_pb_text_0 {
        width: 300%
    }

    .et_pb_text_1 {
        width: 200%
    }

    .et_pb_gutters3 .et_pb_column_2_5, .et_pb_gutters3.et_pb_row .et_pb_column_2_5 {
        width: 36.7%;
    }

    .et_pb_gutters3 .et_pb_column, .et_pb_gutters3.et_pb_row .et_pb_column {
        margin-right: 5.5%;
    }

    .et_pb_gutters3 .et_pb_column_3_5 .et_pb_module, .et_pb_gutters3.et_pb_row .et_pb_column_3_5 .et_pb_module {
        margin-bottom: 4.758%;
    }

    .et_pb_row {
        padding: 2% 0;
    }
}

@media only screen and (max-width: 980px) {
    .et_pb_row .et_pb_column .et_pb_module:last-child {
        margin-bottom: 0;
    }

    .et_pb_row .et_pb_column:last-child {
        margin-bottom: 0;
        margin-right: 0!important;
    }

    .et_pb_section {
        padding: 50px 0;
    }

    .et_pb_column {
        width: 100%;
        margin-bottom: 30px;
    }

    .et_pb_column .et_pb_module {
        margin-bottom: 30px;
    }

    .et_pb_text_1 {
        margin-top: -3%!important;
        width: 100%;
    }

    .et_pb_row_0 {
        height: 100%;
        min-height: auto;
        max-height: 100%
    }

    .et_pb_text_0 {
        width: 100%
    }

    .et_pb_image {
        margin-top: -40% !important;
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (max-width: 767px) {
    .et_pb_row_0.et_pb_row {
        padding-top: 0;
    }

    .et_pb_text_1 h2 {
        font-size: 40px
    }

    .et_pb_column_0 {
        padding-top: 40px;
        padding-bottom: 40px
    }
}
